<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <!--数据库连接信息-->
            <dataSource type="POOLED">
                <!--驱动目录-->
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <!--连接地址-->
                <property name="url" value="jdbc:mysql:///webcase?useSSL=false&amp;useUnicode=true&amp;characterUnicode=utf-8C"/>
                <!--数据库用户名-->
                <property name="username" value="root"/>
                <!--数据库密码-->
                <property name="password" value="ganga"/>
            </dataSource>
        </environment>
    </environments>

    <!--加载sql映射文件-->
    <mappers>
        <!--加载sql映射文件-->
        <!-- <mapper resource="com/ganga/mapper/UserMapper.xml"/> -->

        <!--Mapper代理方式-->
        <!--扫描该包下的所有映射文件-->
        <package name="com.ganga.mapper"/>
    </mappers>

</configuration>
